
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h1 class="text-center mb-5">About us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Introduce</h4>
                <h5 class="text-muted mb-3">We’re here to add a little extra sweetness to your day.</h5>
                <p>
                    The Ice Cream Shop is a virtual restaurant and new way to order your favorite ice cream brands right to your front door.
                    Available on all your favorite delivery apps including Postmates, DoorDash, Uber Eats, and GrubHub, The Ice Cream Shop features fan-favorite products from beloved ice cream brands Ben & Jerry’s, Talenti, Magnum, Breyers and Good Humor.
                </p>
            </div>
            <div class="col-lg-4" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="https://bloganchoi.com/wp-content/uploads/2017/08/kem-min-ngon.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4 py-5">
                <h4 class="font-weight-bold mb-3">Our Features</h4>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>Popular ice cream recipes</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>sell ice cream recipe books</h5>
                <h5 class="text-muted mb-3"><i class="fa fa-check text-secondary mr-3"></i>reward the person who has his own recipe</h5>
            </div>
            <p>
                Ice Cream of Ice Cream Joint Stock Company is trusted and loved by customers,
                has grown more and more throughout the country and promises to always keep the old beauty with the familiar saying of Trang Tien Ice Cream.
                : “Timeless taste” When the times change, the "national" ice cream brand is also ready to transform! The breakthrough of Ice Cream when suddenly changed its brand identity after 60 years of history!
                Mr. Nguyen The Vinh - General Director of Trang Tien Ice Cream brand: "The taste of Trang Tien ice cream has stuck with people. People living in Hanoi for many years need to have an impressive, memorable,
                different and unmistakable new identity to affirm that: Vietnam has only one genuine ice cream brand, with a leading position in the market. The 'problem' is how to choose an image that is both a bit nostalgic,
                reminiscent of the ice cream flavor that has entered the subconscious,
                and has a subtle, slightly The new design has met those requirements.Hopefully, everyone will continue to accept and spread the new image of Trang Tien Ice Cream in the near future! ".
            </p>
        </div>
    </div>
</div>
