<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo Trang Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/CreamStyle/css/Login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <!--Start Image Section-->
        <div class="img-bg">
            <img src="https://yellowcabpizza.vn/hinh-anh-cac-loai-kem-tuoi/imager_4_8343_700.jpg" alt="Hình Ảnh Minh Họa">
        </div>
        <!--End of Image Section-->
        <!--Getting Started with Content-->
        <div class="content">
            <div class="form">
                <h2>LOGIN PAGE</h2>
                <form action="">
                    <div class="input-form">
                        <span>User name</span>
                        <input type="text" name="">
                    </div>
                    <div class="input-form">
                        <span>PassWord</span>
                        <input type="password" name="">
                    </div>
                    <div class="Remember-to-login">
                        <label>
                            <input type="checkbox" name=""> Remember Sign In
                        </label>
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Log in">
                    </div>
                    <div class="input-form">
                        <p>Do not have an account? <a href="#">Registration</a></p>
                    </div>
                </form>
                <h3>Social Login</h3>
                <ul class="login-icon">
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-google" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>
</body>
</html>