
@{
    ViewBag.Title = "Recipe";
}
<style>
    .product-image {
        background-color: #cccccc;
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        /*border: solid 1px #cccccc;*/
    }

        .product-image:hover {
            transform: scale(1.2);
        }

    .main-product {
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px #e9e2e2;
        cursor: pointer;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <!-- style css -->
    <link href="~/CreamStyle/css/responsive.css" rel="stylesheet" />
    <!-- Responsive-->
    <link href="~/CreamStyle/css/style.css" rel="stylesheet" />
</head>
<!-- body -->
<body>
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative mb-5">Recipe</h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
            </div>
            <div class="row">   
                @foreach (var item in Model)
                {
                    <a href="/Home/RecipeDetail/@item.Id" class="col-lg-3 col-md-6 col-sm-6">
                        <div id="ho_bo" class="our_products">
                            <div class="product">
                                <div class="product-image" style="background-image: url(@item.Thumbnail)"></div>
                            </div>
                            <h3>@item.Name</h3>
                            <span>By: @item.ApplicationUser.FullName</span>
                            <p>@item.Description </p>
                        </div>
                    </a>                   
                }
            </div>
        </div>
    </div>
</body>
</html>

