
@{
    ViewBag.Title = "Recipe";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <!-- style css -->
    <link href="~/CreamStyle/css/responsive.css" rel="stylesheet" />
    <!-- Responsive-->
    <link href="~/CreamStyle/css/style.css" rel="stylesheet" />
</head>
<!-- body -->
<body>
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative mb-5">Recipe</h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div id="ho_bo" class="our_products">
                        <div class="product">
                            <figure><img src="https://i-giadinh.vnecdn.net/2021/08/06/anhbo-1628234826-2895-1628234920.jpg" alt="#" /></figure>
                        </div>
                        <h3>Mangoes For Juice</h3>
                        <span>By: Nam libero tempore</span>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div id="ho_bo" class="our_products">
                        <div class="product">
                            <figure><img src="https://i-giadinh.vnecdn.net/2021/08/06/anhbo-1628234826-2895-1628234920.jpg" alt="#" /></figure>
                        </div>
                        <h3>Apple For Juice</h3>
                        <span>By: Nam libero tempore</span>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div id="ho_bo" class="our_products">
                        <div class="product">
                            <figure><img src="https://i-giadinh.vnecdn.net/2021/08/06/anhbo-1628234826-2895-1628234920.jpg" alt="#" /></figure>
                        </div>
                        <h3>Orange For Juice</h3>
                        <span>By: Nam libero tempore</span>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div id="ho_bo" class="our_products">
                        <div class="product">
                            <figure><img src="https://i-giadinh.vnecdn.net/2021/08/06/anhbo-1628234826-2895-1628234920.jpg" alt="#" /></figure>
                        </div>
                        <h3>Pineapple For Juice</h3>
                        <span>By: Nam libero tempore</span>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

